.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 10% 10%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    height: 200px;
    width: 230px;
    background: #FFFFFF;
    box-shadow: 3px 3px 8px 2px #cecccc;
    border-radius: 5px;
}   

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.login-input {
    border-radius: 5px;
    border: 1px solid #dddfe2;
    height: 20px;
    width: 200px;
    padding: 3px;
    margin: 5px;
    font-size: 14px;
    font-weight: 100px;
}

.login-submit {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background: #1877F2;
    color: #fff;
    width: 150px;
    margin: 15px;  
}

.login-submit:hover {
    color: black;
}

.login-form a {
    background: white;
    font-size: 9px;
    font-weight: 700;
    color: #1877F2;
}

.login-form .instead {
    background: white;
    font-size: 9px;
    font-weight: 700;
}

.login-form-box .login-error {
    color: red;
    font-size: 10px;
    background: white;
}